table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #a7a7a7;
  }
  
  tr:hover {
    background-color: var(--hover-color);
    cursor: pointer;
  }

  .table-icon {
    height: 30px;
  }

  .icon-cell {
    width: 20px;
  }

  .indented-row {
    margin-left: 20px;
  }
  