@font-face {
  font-family: 'Epilepsy Sans Bold';
  font-style: normal;
  font-weight: 400;
  src: local('Epilepsy Sans Bold'), 
       url(../../fonts/EpilepsySansBold.ttf) format('woff2'),
       url(../../fonts/EpilepsySansBold.ttf) format('woff');
}

@font-face {
  font-family: 'Epilepsy Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Epilepsy Sans'), 
       url(../../fonts/EpilepsySans.ttf) format('woff2'),
       url(../../fonts/EpilepsySans.ttf) format('woff');
}

.add-element-btn {
  text-align: center;
  margin-top: 10px;
}

.add-element-btn button {
  cursor: pointer;
  padding: 8px;
  background-color: #ffc107;
  color: #000;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  display: inline-block;
  font-family: 'Epilepsy Sans', sans-serif
}

button:hover {
  background-color: #ffc107;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 0px;
}

.container-parser {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  padding: 50px;
  margin-bottom: 0px;
}

.card-parser {
  /* border: 1px solid #ccc;
  border-radius: 8px; */
  padding: 20px;
  width: 100%;
  max-width: 900px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  margin: 0 auto;
  align-items: flex-start;
  margin-bottom: 0px;
}

.card-body {
  padding: 10px;
}

.create-preset-btn {
  cursor: pointer;
  padding: 15px 20px;
  background-color: #ffc107;
  color: #000;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-family: 'Epilepsy Sans Bold', sans-serif
}

.create-preset-btn:hover {
  background-color: #ffc107;
}

.delete-btn {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  border: 1px solid #000;
  width: 16px;
  height: 16px;
  background: url('https://cdn.icon-icons.com/icons2/2131/PNG/512/cancel_cross_delete_remove_icon_131554.png') no-repeat center center / contain;
}

.delete-btn:hover {
  background-color: #ffc107; 
  color: #000;
}

.element-locator {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  font-family: 'Epilepsy Sans', sans-serif
}

.element-locator input {
  margin-bottom: 5px;
}

.element-locator span {
  margin-right: 5px;
}

.form {
  margin-bottom: 30px;
}

.form-group {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
}

.form-group:not(:last-child) {
  margin-bottom: 20px;
}

.form-label {
  text-align: center;
  font-weight: bold; 
  font-family: 'Epilepsy Sans', sans-serif
}

.form-input-label {
  font-family: 'Epilepsy Sans', sans-serif
}

.form-label:not(:first-child) {
  margin-top: 20px;
}

.form-input {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}


.form-input label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

.form-input input,
.form-input select {
  width: 100%;
  box-sizing: border-box;
}

.elmnt-lctr-form-input {
  display: flex;
  flex-direction: column;
}

.option-input {
  size: 40px;
  margin-bottom: 10px;
}

.text-heading {
  text-align: center;
  font-family: 'Epilepsy Sans Bold', sans-serif
}