@font-face {
  font-family: 'Eight Bits';
  font-style: normal;
  font-weight: 400;
  src: local('Eight Bits'), local('EightBits-Regular'),
       url(./assets/EightBits.ttf) format('truetype');
}

.navbar {
  background-color: #ffc107;
}

.navbar-brand, .navbar-nav a {
  color: #000; 
  font-family: 'Eight Bits', sans-serif;
}

.navbar-toggler-icon {
  background-color: #000; 
}