@font-face {
  font-family: 'Epilepsy Sans Bold';
  font-style: normal;
  font-weight: 400;
  src: local('Epilepsy Sans Bold'), 
       url(../../fonts/EpilepsySansBold.ttf) format('woff2'),
       url(../../fonts/EpilepsySansBold.ttf) format('woff');
}

@font-face {
  font-family: 'Epilepsy Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Epilepsy Sans'), 
       url(../../fonts/EpilepsySans.ttf) format('woff2'),
       url(../../fonts/EpilepsySans.ttf) format('woff');
}

.navbar {
  background-color: #ffc107;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
}

.navbar-nav {
  color: #363437; 
  transition: color 0.3s;
}

 .navbar-nav a {
  color: currentColor;
  font-family: 'Epilepsy Sans', sans-serif;
  font-size: 20px;
}

  .navbar-nav img {
  fill: currentColor;
  color: currentColor;
  height: 30px;
  }

  .navbar-nav li a:focus, .navbar-nav a:hover {
  color: rgb(255, 106, 0);
  }

.navbar-toggler-icon {
  background-color: #363437; 
}

.navbar-gif {
  height: 30px;
  filter: invert(18%) sepia(6%) saturate(363%) hue-rotate(236deg) brightness(100%) contrast(92%);
  margin-top: 3px;
}
