.navbar {
  background-color: var(--main-background-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.navbar-nav {
  color: var(--main-text-color); 
  transition: color 0.3s;
}

 .navbar-nav a {
  color: currentColor;
  font-family: var(--main-font);
  font-size: 20px;
}

  .navbar-nav img {
  fill: currentColor;
  color: currentColor;
  height: 30px;
  }

  .navbar-nav li a:focus, .navbar-nav a:hover {
  color: var(--hover-color);
  }

.navbar-gif {
  height: 30px;
  filter: invert(18%) sepia(6%) saturate(363%) hue-rotate(236deg) brightness(100%) contrast(92%);
  margin-top: 3px;
}
