.footer {
  z-index: 999;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--brand-color);
  color: var(--main-text-color);
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1) !important;
}

.footer-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 50px;
  margin-left: 50px;
  font-family: var(--main-font);
}

.footer-section a {
  text-decoration: none;
  color: var(--main-text-color);
}

.footer-section a:hover {
  color: var(--hover-color);
}

.github-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  margin-bottom: 5px;
  fill: var(--main-text-color);
}

.tg-icon {
  width: 27px;
  height: 27px;
  margin-right: 3px;
  margin-bottom: 3px;
  filter: invert(18%) sepia(6%) saturate(363%) hue-rotate(236deg) brightness(100%) contrast(92%);
}