@font-face {
  font-family: 'Epilepsy Sans Bold';
  font-style: normal;
  font-weight: 400;
  src: local('Epilepsy Sans Bold'), 
       url(../../fonts/EpilepsySansBold.ttf) format('woff2'),
       url(../../fonts/EpilepsySansBold.ttf) format('woff');
}

@font-face {
  font-family: 'Epilepsy Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Epilepsy Sans'), 
       url(../../fonts/EpilepsySans.ttf) format('woff2'),
       url(../../fonts/EpilepsySans.ttf) format('woff');
}


body {
    background-color: var(--main-background-color)!important;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .container {
    margin-top: 0;
    margin-bottom: 0px;
  }

  .page-content {
    flex-grow: 1;
  }