body {
    background-color: #f1f1f1 !important;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .container {
    margin-top: 0;
    margin-bottom: 0px;
  }

  .page-content {
    flex-grow: 1;
  }