@font-face {
    font-family: 'Eight Bits';
    font-style: normal;
    font-weight: 400;
    src: local('Eight Bits'), local('EightBits-Regular'),
         url(./assets/EightBits.ttf) format('truetype');
  }